/**************************configuracion inicial del sitio*********************************/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;

    /*****************************paleta de colores claro***********************************/
    /* Colores de fondo */
    --bg-primary: #ffffff;
    /* Blanco */
    --bg-secondary: #f1f1f1;
    /* Gris claro */
    --hover: #e4e4e4;
    /* Colores de texto */
    --text-primary: #000000;
    /* Negro */
    --text-secondary: #333333;
    /* Gris oscuro */

    /* Colores de énfasis */
    --accent-primary: #13386C;
    /* Azul de énfasis */
    --accent-secondary: #293241;

    /* Amarillo de énfasis */

    /* Colores de bordes y sombras */
    --border-light: #dcdcdc;
    /* Gris para bordes */
    --shadow-light: rgba(0, 0, 0, 0.1);
    /* Sombra suave */

    /*****************************paleta de colores oscuro***********************************/
    /* Colores de fondo */
    --dark-bg-primary: #1e1e1e;
    /* Gris muy oscuro */
    --dark-bg-secondary: #252526;
    /* Gris oscuro */
    --dark-hover: #1e1e1f;
    /* Colores de texto */
    --dark-text-primary: #ffffff;
    /* Blanco */
    --dark-text-secondary: #cccccc;
    /* Gris claro */

    /* Colores de énfasis */
    --dark-accent-primary: #FF7B36;
    /* Azul de énfasis */
    --dark-accent-secondary: #5B8DBB;
    /* Amarillo de énfasis */

    /* Colores de bordes y sombras */
    --dark-border-dark: #444444;
    /* Gris para bordes */
    --dark-shadow-dark: rgba(255, 255, 255, 0.089);
    /* Sombra suave */
}

html,
body {
    height: 100%;
    width: 100%;

    overflow-x: hidden;
    overflow-y: auto;
    transition: border 0.3s ease, background-color 0.3s ease, color 0.3s ease,
        box-shadow 0.3s ease, border-bottom 0.3s ease;
}

body {
    min-height: 100vh;
    background-color: #f8fafc;
}

main {
    min-height: 100vh;
}

.dark main {
    background-color: var(--dark-bg-primary);
}
